SDKROOT = macosx
SUPPORTED_PLATFORMS = $(AVAILABLE_PLATFORMS)
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
APPLICATION_EXTENSION_API_ONLY = YES
COPY_PHASE_STRIP = YES
SKIP_INSTALL = YES
DRIVERKIT_DEPLOYMENT_TARGET = 19.0
IPHONEOS_DEPLOYMENT_TARGET = 14.0
MACOSX_DEPLOYMENT_TARGET = 12.0
TVOS_DEPLOYMENT_TARGET = 15.0
WATCHOS_DEPLOYMENT_TARGET = 8.0
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) $(TOOLCHAIN_DIR)/usr/lib/swift/macosx
DEFINES_MODULE = YES
INFOPLIST_FILE = CWasm3.xcodeproj/CWasm3_Info.plist
MODULEMAP_FILE = cwasm3.modulemap
PRODUCT_BUNDLE_IDENTIFIER = CWasm3
PRODUCT_MODULE_NAME = $(TARGET_NAME:c99extidentifier)
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
USE_HEADERMAP = YES
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PLATFORM_DIR)/Developer/Library/Frameworks
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Sources/CWasm3/include
CURRENT_PROJECT_VERSION = 1
GCC_OPTIMIZATION_LEVEL = s
CLANG_ENABLE_MODULES = YES
GCC_PREPROCESSOR_DEFINITIONS = d_m3MaxDuplicateFunctionImpl=10
SUPPORTS_MACCATALYST = YES
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
TARGET_NAME = CWasm3
